.homeScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10%;
  width: 60vw;
  height: 80vh;
}

.selfieImage {
  width: 30%;
}

.title {
  font-size: 3.5em;
}

.text {
  font-size: 1.5em;
}

